:root {
    --main-bg: linear-gradient(135deg, #121212, #1e1e1e);
    --main-text-color: #ffffff;
    --secondary-text-color: #cccccc;
    --highlight-color: rgb(255, 105, 180);
    --accent-color: rgb(255, 0, 128);
    --dark-bg: #292929;
    --border-color: rgb(255, 105, 180);
}

* {
    text-decoration: none;
}
* a {
    color: var(--main-text-color);
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: var(--main-bg);
    color: var(--main-text-color);
    text-align: center;
}

.header {
    position: relative;
    padding: 40px;
    text-align: center;
    border-bottom: 3px solid var(--highlight-color);
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(banner.gif) no-repeat center center;
    background-size: 110%;
    filter: blur(5px);
    z-index: -1;
}

@media (max-width: 600px) {
    .header::before {
        background-size: cover; /* Alternativa si 'cover' no funciona bien */
    }
}


.header {
    z-index: 1;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
    border: 3px solid var(--highlight-color);
    transition: transform 0.3s;
}

.profile-pic:hover {
    transform: scale(1.1);
}

.title {
    font-size: 2.5em;
    margin: 10px 0;
    color: var(--highlight-color);

}

.subtitle {
    font-size: 1.2em;
    color: var(--accent-color);
    text-shadow: 
        0 0 5px var(--highlight-color), 
        0 0 10px var(--highlight-color), 
        0 0 20px #ff1493, 
        0 0 30px #ff1493, 
        0 0 40px #ff69b4, 
        0 0 50px #ff69b4, 
        0 0 60px #ff69b4;
}


.container {
    padding: 20px;
}

.about, .skills, .social-links {
    margin: 20px auto;
    background-color: var(--dark-bg);
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
}

.about h2, .skills h2, .social-links h2 {
    color: var(--highlight-color);
}

.skills ul {
    list-style: none;
    padding: 0;
}

.skills li {
    margin: 10px 0;
    text-align: left;
}

.social-links ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.social-links li {
    margin: 10px;
}

.social-links a {
    text-decoration: none;
    color: var(--main-text-color);
    background-color: var(--highlight-color);
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: transform 0.3s, background-color 0.3s;
}

.social-links a i {
    font-size: 1.5em;
}

.social-links a:hover {
    transform: scale(1.1);
    background-color: var(--highlight-color);
}

.footer {
    background-color: var(--dark-bg);
    padding: 10px 0;
    border-top: 3px solid var(--highlight-color);
    font-size: 0.9em;
    color: var(--secondary-text-color);
}

/* Sección Relacionados */
.related {
    margin: 40px auto;
    max-width: 800px;
    text-align: center;
}

.related h2 {
    color: var(--highlight-color);
    margin-bottom: 20px;
}

.related-item {
    width: 250px;
    border: 2px solid var(--highlight-color);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 0 auto;
    text-align: center;
}

.related-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.related-item img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 20px;
}

.related-item p {
    padding: 10px;
    text-align: center;
    font-size: 1.1em;
    font-weight: bold;
    color: var(--main-text-color);
    margin: 0;
}

.related-link {
    display: block;
    text-decoration: none;
}

.related {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;
}
